{#Zumeri Faton et Dorian Châtelain#}
{% extends 'base.html' %}

{% block content %}



    {#    <div class="col-md-7">#}
    <h4>Les produits</h4>
    <BR><BR>
    <div class="card card-body">
        <a class="btn " style="color: #7FFFD4; background-color: #3d3d3f" href="{% url 'produits:ajouter_produit' %}">Ajouter
            un produit</a>
        <hr>
        <table class="table table-sm">
            <tr>
                <th>Produit</th>
                <th>Type</th>
                <th>ml.</th>
                <th>Catégorie</th>
                <th>Prix d'achat</th>
                <th>Prix de vente</th>
                <th>Statut</th>
                <th>Quantité</th>
                <th>Mise à Jour</th>
                <th>Supprimer</th>
            </tr>

     <tbody id="idDiv">
     </tbody>
        </table>
    </div>

    <script>
        var ProduitsDiv = document.getElementById("idDiv")
        function onstart(){
            const xhr = new XMLHttpRequest();
             const url = '/produits/ajax'
             xhr.responseType = 'json';
             xhr.open('GET', url, true);
             {#var response = JSON.parse(xhr.responseText)#}
             xhr.onload = function () {
                 console.log(xhr.response['produits'])

                 for (let i = 0; i < xhr.response['produits'].length; i++) {
                     console.log(xhr.response['produits'][i])
                     console.log('ID: ' + xhr.response['produits'][i]['f'])

                     {#var url = href='{% url 'produits:modifier_produit' + xhr.response['produits'][i].id  %}'#}

                     ProduitsDiv.innerHTML += '<th>' + xhr.response['produits'][i].nom + '</th>'
                                            + '<th>' + xhr.response['produits'][i].type + '</th>'
                                            + '<th>' + xhr.response['produits'][i].capacite + '</th>'
                                            + '<th>' + xhr.response['produits'][i].categorie + '</th>'
                                            + '<th>' + xhr.response['produits'][i].prix_achat + '</th>'
                                            + '<th>' + xhr.response['produits'][i].prix_vente + '</th>'
                                            + '<th>' + xhr.response['produits'][i].statut + '</th>'
                                            + '<th>' + xhr.response['produits'][i].quantite + '</th>'
                                            + "<th id='modifier'>"
                                            + "</th>"
                                            + "<th id='supprimer'>"
                                            + "</th>"

                     var moddiv = document.getElementById('modifier')
                     var supdiv = document.getElementById('supprimer')
                     var mod = document.createElement('a')
                     var sup = document.createElement('a')
                     mod.setAttribute('class','btn btn-sm btn-dark')
                     mod.setAttribute('href', '/produits/modifier_produit/'  + xhr.response['produits'][i].id)
                     mod.innerHTML = 'Modifier'

                     sup.setAttribute('class','btn btn-sm btn-danger')
                     sup.innerHTML = 'Modifier'

                     sup.setAttribute('href', '/produits/supprimer_produit/'  + xhr.response['produits'][i].id)
                     moddiv.appendChild(mod)
                     supdiv.appendChild(sup)

                 }
             }

             xhr.send()
            }
    onstart()
    </script>

{% endblock %}